body, html{
  /* background:linear-gradient(to left, green, white); */
  background: white;
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:black;
  font-family: 'Roboto Condensed', sans-serif;
}

.page-header{
  font-family: 'Montserrat', sans-serif;
  background: lightgreen;
}

.form-container{
  display:flex;
  margin: 10vh auto 20px auto ;
  justify-content:center;
  width:100%;
}

.form-box{
  width:350px;
  height:450px;
  background-color:black;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  opacity:0.5;
  border-radius:2%;
}

.header-form{
  margin-bottom:15px;
}

form > button{
  margin-top:40px;
  margin-bottom:10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification {
  color: black;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  background: lightgreen;
}

.error {
  background: rgb(230, 69, 69);
}
